body{
    background-color: aquamarine;
}
*{
    margin: 0;
    padding: 0;
}
main{
    margin: 90px auto 90px auto;
    box-sizing: border-box;
    padding: 0 2%;
    max-width: auto;
}
img{
    width: 180px;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
}
header{
    position: relative;
    color: #fff;
}
.header-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-title{
    font-size: 5rem;
    text-shadow: 0 0 10px rgb(255,222,160), 0 0 15px #fff;
}
.header-pattern{
    position: absolute;
    background-size: auto auto;
}
header video{
    object-fit: cover;
    object-position: center top;
}
.header-text, .header-pattern, header video{
    width: 100%;
    height: 100vh;
}
@media(min-width: 1024px){
    main{
        max-width: 1000px;
    }
    .items{
        grid-template-columns: 1fr 1fr 1fr;
    }
    img{
        width: 300px;
    }
}
